#### Create a Pandas series using a list

In [16]:
import pandas as pd
values = list(range(10,50,5))
series = pd.Series(values)
print(series)

0    10
1    15
2    20
3    25
4    30
5    35
6    40
7    45
dtype: int64

#### Accessing the data from a Pd series

In [32]:
index_1 = series[0]
index_3 = series[2]
index_5 = series[4]
print(index_1,index_3,index_5)

10 20 30

#### Slicing a series

In [31]:
slice1 = series[1:3]
slice2 = series[:5]
slice3 = series[1:6:2]
print("slice1 =\n",slice1,"\n slice2 = \n",slice2, "\n slice3 = \n",slice3)

slice1 =
 1    15
2    20
dtype: int64
 slice2 =
 0    10
1    15
2    20
3    25
4    30
dtype: int64
 slice3 =
 1    15
3    25
5    35
dtype: int64

#### Reverse a Panda series

In [19]:
print(series[::-1])

7    45
6    40
5    35
4    30
3    25
2    20
1    15
0    10
dtype: int64