In [8]:
import pandas as pd
f500 = pd.read_csv('f500.csv',index_col=0)
f500.index.name = None
f500_type = type(f500)
print(f500_type)
f500_shape = f500.shape
print(f500_shape)

<class 'pandas.core.frame.DataFrame'>
(500, 16)

In [9]:
f500_head =f500.head()
f500_tail = f500.tail()

In [10]:
print(f500_head)

                          rank  revenues  revenue_change  profits  assets  \
Walmart                      1    485873             0.8  13643.0  198825
State Grid                   2    315199            -4.4   9571.3  489838
Sinopec Group                3    267518            -9.1   1257.9  310726
China National Petroleum     4    262573           -12.3   1867.5  585619
Toyota Motor                 5    254694             7.7  16899.3  437575

                          profit_change                  ceo  \
Walmart                            -7.2  C. Douglas McMillon
State Grid                         -6.2              Kou Wei
Sinopec Group                     -65.0            Wang Yupu
China National Petroleum          -73.7        Zhang Jianhua
Toyota Motor                      -12.3          Akio Toyoda

                                          industry                  sector  \
Walmart                      General Merchandisers               Retailing
State Grid                               Utilities                  Energy
Sinopec Group                   Petroleum Refining                  Energy
China National Petroleum        Petroleum Refining                  Energy
Toyota Motor              Motor Vehicles and Parts  Motor Vehicles & Parts

                          previous_rank country      hq_location  \
Walmart                               1     USA  Bentonville, AR
State Grid                            2   China   Beijing, China
Sinopec Group                         4   China   Beijing, China
China National Petroleum              3   China   Beijing, China
Toyota Motor                          8   Japan    Toyota, Japan

                                               website  \
Walmart                         http://www.walmart.com
State Grid                      http://www.sgcc.com.cn
Sinopec Group                   http://www.sinopec.com
China National Petroleum        http://www.cnpc.com.cn
Toyota Motor              http://www.toyota-global.com

                          years_on_global_500_list  employees  \
Walmart                                         23    2300000
State Grid                                      17     926067
Sinopec Group                                   19     713288
China National Petroleum                        17    1512048
Toyota Motor                                    23     364445

                          total_stockholder_equity
Walmart                                      77798
State Grid                                  209456
Sinopec Group                               106523
China National Petroleum                    301893
Toyota Motor                                157210

In [11]:
print(f500_tail)

                                rank  revenues  revenue_change  profits  \
Teva Pharmaceutical Industries   496     21903            11.5    329.0
New China Life Insurance         497     21796           -13.3    743.9
Wm. Morrison Supermarkets        498     21741           -11.3    406.4
TUI                              499     21655            -5.5   1151.7
AutoNation                       500     21609             3.6    430.5

                                assets  profit_change                 ceo  \
Teva Pharmaceutical Industries   92890          -79.3   Yitzhak Peterburg
New China Life Insurance        100609          -45.6            Wan Feng
Wm. Morrison Supermarkets        11630           20.4      David T. Potts
TUI                              16247          195.5   Friedrich Joussen
AutoNation                       10060           -2.7  Michael J. Jackson

                                                       industry  \
Teva Pharmaceutical Industries                  Pharmaceuticals
New China Life Insurance        Insurance: Life, Health (stock)
Wm. Morrison Supermarkets                  Food and Drug Stores
TUI                                             Travel Services
AutoNation                                  Specialty Retailers

                                            sector  previous_rank  country  \
Teva Pharmaceutical Industries         Health Care              0   Israel
New China Life Insurance                Financials            427    China
Wm. Morrison Supermarkets       Food & Drug Stores            437  Britain
TUI                              Business Services            467  Germany
AutoNation                               Retailing              0      USA

                                         hq_location  \
Teva Pharmaceutical Industries  Petach Tikva, Israel
New China Life Insurance              Beijing, China
Wm. Morrison Supermarkets          Bradford, Britain
TUI                                 Hanover, Germany
AutoNation                       Fort Lauderdale, FL

                                                    website  \
Teva Pharmaceutical Industries     http://www.tevapharm.com
New China Life Insurance        http://www.newchinalife.com
Wm. Morrison Supermarkets          http://www.morrisons.com
TUI                                 http://www.tuigroup.com
AutoNation                        http://www.autonation.com

                                years_on_global_500_list  employees  \
Teva Pharmaceutical Industries                         1      56960
New China Life Insurance                               2      54378
Wm. Morrison Supermarkets                             13      77210
TUI                                                   23      66779
AutoNation                                            12      26000

                                total_stockholder_equity
Teva Pharmaceutical Industries                     33337
New China Life Insurance                            8507
Wm. Morrison Supermarkets                           5111
TUI                                                 3006
AutoNation                                          2310

In [12]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   rank                      500 non-null    int64
 1   revenues                  500 non-null    int64
 2   revenue_change            498 non-null    float64
 3   profits                   499 non-null    float64
 4   assets                    500 non-null    int64
 5   profit_change             436 non-null    float64
 6   ceo                       500 non-null    object
 7   industry                  500 non-null    object
 8   sector                    500 non-null    object
 9   previous_rank             500 non-null    int64
 10  country                   500 non-null    object
 11  hq_location               500 non-null    object
 12  website                   500 non-null    object
 13  years_on_global_500_list  500 non-null    int64
 14  employees                 500 non-null    int64
 15  total_stockholder_equity  500 non-null    int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [13]:
industries = f500.loc[:,"industry"]
#print(industries)
industries_type = type(industries)
print(industries.head(3))

Walmart          General Merchandisers
State Grid                   Utilities
Sinopec Group       Petroleum Refining
Name: industry, dtype: object

In [14]:
countries = f500["country"]
revenues_years = f500[["revenues","years_on_global_500_list"]]
ceo_to_sector = f500.loc[:,"ceo":"sector"]

In [17]:
countries.head(3)
ceo_to_sector.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ceo       500 non-null    object
 1   industry  500 non-null    object
 2   sector    500 non-null    object
dtypes: object(3)
memory usage: 15.6+ KB

In [18]:
toyota = f500.loc['Toyota Motor']
drink_companies = f500.loc[["Anheuser-Busch InBev", "Coca-Cola", "Heineken Holding"]]
middle_companies = f500.loc["Tata Motors":"Nationwide", "rank":"country"]

In [20]:
country_counts = countries.value_counts()
print(country_counts)

USA             132
China           109
Japan            51
Germany          29
France           29
Britain          24
South Korea      15
Netherlands      14
Switzerland      14
Canada           11
Spain             9
Australia         7
Brazil            7
India             7
Italy             7
Taiwan            6
Russia            4
Ireland           4
Singapore         3
Sweden            3
Mexico            2
Malaysia          1
Thailand          1
Belgium           1
Norway            1
Luxembourg        1
Indonesia         1
Denmark           1
Saudi Arabia      1
Finland           1
Venezuela         1
Turkey            1
U.A.E             1
Israel            1
Name: country, dtype: int64

In [22]:
india = country_counts.loc['India']
print(india)
north_america = countries_counts.loc[['USA','Canada','Mexico']]
print(north_america)

7

In [23]:
big_movers = f500.loc[["Aviva","HP","JD.com","BHP Billiton"],['rank','previous_rank']]
bottom_companies = f500.loc["National Grid":"AutoNation", ["rank","sector","country"]]

In [24]:
print(big_movers.head())

              rank  previous_rank
Aviva           90            279
HP             194             48
JD.com         261            366
BHP Billiton   350            168

In [25]:
print(bottom_companies.head())

                                       rank              sector  country
National Grid                           491              Energy  Britain
Dollar General                          492           Retailing      USA
Telecom Italia                          493  Telecommunications    Italy
Xiamen ITG Holding Group                494         Wholesalers    China
Xinjiang Guanghui Industry Investment   495         Wholesalers    China