In [1]:
import numpy as np
x = np.arange(9,0,-1).reshape(3,3)
x

array([[9, 8, 7],
       [6, 5, 4],
       [3, 2, 1]])

In [2]:
x.sort(axis=1) # sort all rows
x

array([[7, 8, 9],
       [4, 5, 6],
       [1, 2, 3]])

In [3]:
x.sort(axis=0) # sort all columns
x

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [4]:
y=np.arange(36,0,-1).reshape(6,6)
y

array([[36, 35, 34, 33, 32, 31],
       [30, 29, 28, 27, 26, 25],
       [24, 23, 22, 21, 20, 19],
       [18, 17, 16, 15, 14, 13],
       [12, 11, 10,  9,  8,  7],
       [ 6,  5,  4,  3,  2,  1]])

In [5]:
y[:,1] = np.sort(y[:,1]) # sorting only second column
y

array([[36,  5, 34, 33, 32, 31],
       [30, 11, 28, 27, 26, 25],
       [24, 17, 22, 21, 20, 19],
       [18, 23, 16, 15, 14, 13],
       [12, 29, 10,  9,  8,  7],
       [ 6, 35,  4,  3,  2,  1]])

In [6]:
y[2,:] = np.sort(y[2,:]) # sorting only thrid row
y

array([[36,  5, 34, 33, 32, 31],
       [30, 11, 28, 27, 26, 25],
       [17, 19, 20, 21, 22, 24],
       [18, 23, 16, 15, 14, 13],
       [12, 29, 10,  9,  8,  7],
       [ 6, 35,  4,  3,  2,  1]])

In [7]:
z = np.array([[36, 5, 34, 53, 32, 31],
       [30, 11, 28, 27, 26, 25],
       [84, 17, 91, 21, 70, 19],
       [18, 73, 16, 15, 64, 13],
       [12, 59, 10, 9, 48, 7],
       [ 63, 35, 44, 83, 92, 71]])
z

array([[36,  5, 34, 53, 32, 31],
       [30, 11, 28, 27, 26, 25],
       [84, 17, 91, 21, 70, 19],
       [18, 73, 16, 15, 64, 13],
       [12, 59, 10,  9, 48,  7],
       [63, 35, 44, 83, 92, 71]])

In [8]:
z[[2,4],:]= np.sort(z[[2,4],:]) # sorting third and fifth rows
z

array([[36,  5, 34, 53, 32, 31],
       [30, 11, 28, 27, 26, 25],
       [17, 19, 21, 70, 84, 91],
       [18, 73, 16, 15, 64, 13],
       [ 7,  9, 10, 12, 48, 59],
       [63, 35, 44, 83, 92, 71]])

In [9]:
z[:,[3,5]] = np.sort(z[:,[3,5]],axis=0) # sorting fourth and sixth colmns
z

array([[36,  5, 34, 12, 32, 13],
       [30, 11, 28, 15, 26, 25],
       [17, 19, 21, 27, 84, 31],
       [18, 73, 16, 53, 64, 59],
       [ 7,  9, 10, 70, 48, 71],
       [63, 35, 44, 83, 92, 91]])

In [10]:
A = np.array([[36, 5, 34, 53, 32, 31],
       [30, 11, 28, 27, 26, 25],
       [84, 17, 91, 21, 70, 19],
       [18, 73, 16, 15, 64, 13],
       [12, 59, 10, 9, 48, 7],
       [ 63, 35, 44, 83, 92, 71]])
A

array([[36,  5, 34, 53, 32, 31],
       [30, 11, 28, 27, 26, 25],
       [84, 17, 91, 21, 70, 19],
       [18, 73, 16, 15, 64, 13],
       [12, 59, 10,  9, 48,  7],
       [63, 35, 44, 83, 92, 71]])

Sort all the columns based on one column

In [11]:
by_col_3 = A[:, 2].argsort()
B = A[by_col_3] # based on third column
B

array([[12, 59, 10,  9, 48,  7],
       [18, 73, 16, 15, 64, 13],
       [30, 11, 28, 27, 26, 25],
       [36,  5, 34, 53, 32, 31],
       [63, 35, 44, 83, 92, 71],
       [84, 17, 91, 21, 70, 19]])

In [12]:
by_col_5 = A[:,4].argsort()
C = A[by_col_5] #based on 5th column

C

array([[30, 11, 28, 27, 26, 25],
       [36,  5, 34, 53, 32, 31],
       [12, 59, 10,  9, 48,  7],
       [18, 73, 16, 15, 64, 13],
       [84, 17, 91, 21, 70, 19],
       [63, 35, 44, 83, 92, 71]])